@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width:1024px) {
    body {
        width: 1024px;
      }
    header {
        display: flex;
        width: max-content;
        height: max-content;
    }

    nav {
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h1{
        text-align: center;
    }
    footer{
        bottom: 0%;
    }
}

body {
    margin: 0%
}
@media (max-width:768px) {
    body {
        width: 768px;
      }
    header {
        display: flex;
        width: max-content;
        height: max-content;
    }

    nav {
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h1{
        text-align: center;
    }
    .section2{
        width: 60%;
    }
    footer{
        bottom: 0%;
    }
}
@media (max-width: 480px) {
    body {
        width: 480px;
      }
    header {
        display: flex;
        width: max-content;
        height: max-content;
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }
    ul{
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h1{
        text-align: center;
    }
    .section2plan{
        flex-direction: column;
    }
    .section2{
        width: 100%;
    }
    footer{
        bottom: 0%;
    }
}

body {
    margin: 0%
}

body {
    margin: 0%
}

header{
    background-image: url(./fond-page2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    width: 100%;
    height:max-content;
}
main{
    background-color: rgb(245, 245, 245);
}


p{
    color:rgb(64, 64, 64)
}nav {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    font-size: 20px;
    display: flex;
    gap: 20px;
}

li {
    display: inline-block;
    list-style: none;
}

a{
    padding: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: white;
}
button {
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: white;
    border: rgb(251, 32, 86);
    border-radius: 90px;
    background-color: rgb(251, 32, 86);
    font-family: "Noto Sans", sans-serif;
    margin-right: 200px;
    margin-top: -10px;
    width: 220px;
    height: 60px;
    margin-right: 192px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(241, 7, 66);
}
.trait{
    border:2px solid rgb(251, 32, 86);
    width: 50px;
    margin-top: -30px;
    /* margin-bottom: -30px; */
}
#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
}
h1{
    font-size: 70px;
}
h4{
    font-size: 30px;
    font-family: "Montserrat Sans", sans-serif;
}
main {
    display: flex;
    flex-direction: column;
}
.section2plan{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    margin: 10%;
}
.section2 {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 40%;
}
.section2 h2{
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat Sans", sans-serif;
}
.section2p1{
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}
.section2p2{
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}


.section2plan img{
    width: 80%;
    max-width: 100%;
    border-radius: 1.5%;
    background-size: cover;
    filter: drop-shadow(1vw 1vw 1vw #8f8e8e);
}

.section3-4 {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.section3 {
    max-width: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.section4{
    max-width: 100%;
}
.section3-4 p{
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}
.section4 {
    width: 30%;
}
.ligne{
    width: 100%;
}
.tiret{
    color: rgb(251, 32, 86);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 36, 36);
    width: 100%;
    height: 60%;
    color: white;
}

footer p {
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
}