@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0%
}

header{
    background-image: url(./fond-page2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    width: 100%;
    height:max-content;
}
main{
    background-color: rgb(245, 245, 245);
}


p{
    color:rgb(64, 64, 64)
}nav {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    font-size: 20px;
    display: flex;
    gap: 20px;
}

li {
    display: inline-block;
    list-style: none;
}
#logo {
    background-size: 100%;
    background-repeat: no-repeat;
}
#logonoir{
    display: none;
}

a{
    padding: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: white;
}
button {
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: white;
    border: rgb(251, 32, 86);
    border-radius: 90px;
    background-color: rgb(251, 32, 86);
    font-family: "Noto Sans", sans-serif;
    width: 220px;
    height: 60px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(241, 7, 66);
}
.trait{
    border:2px solid rgb(251, 32, 86);
    width: 50px;
    margin-top: -30px;
    /* margin-bottom: -30px; */
}
#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10%;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
}
h1{
    font-size: 70px;
}
h4{
    font-size: 30px;
    font-family: "Montserrat Sans", sans-serif;
}
main {
    display: flex;
    flex-direction: column;
}
.section2plan{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    margin: 10%;
}
.section2 {
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 60%;
}
.section2 h2{
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat Sans", sans-serif;
}
.section2p1{
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}
.section2p2{
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}


.section2plan img{
    /* border: 1px solid white; */
    border-radius: 2%;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    filter: drop-shadow(10px 10px 1px #C0C0C0);
    max-width: 100%;

}

.section3-4 {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.section3 {
    max-width: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.section4{
    max-width: 100%;
}
.section3-4 p{
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
}
.section4 {
    width: 40%;
}
.ligne{
    width: 100%;
}
.tiret{
    color: rgb(251, 32, 86);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 36, 36);
    width: 100%;
    height: 60%;
    color: white;
}

footer {
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
}
.footer2 p{
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
}
@media (max-width:1024px) {
    body {
        width: 1024px;
      }
    header {
        display: flex;
        width: max-content;
        height: max-content;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h1{
        text-align: center;
    }
    footer{
        bottom: 0%;
    }
}
@media (max-width:768px) {
    body {
        width: 768px;
      }
    header {
        display: flex;
        width: max-content;
        height: max-content;
        height: 20%;
        width: 100%;
    }
    #logo{
        display: none;
    }
    #logonoir{
        display: block;
        width: 30%;
    }
    nav {
        background: white;
        display: flex;
        justify-content: center;    
    }
    ul{
        flex-direction: column;
        gap: 3px;
        max-width: 100%;
        font-size: 15px;
        position: absolute;
        top: 80px;
        display: none ;
    }
    a{
        color: black;
    }
    .section1{
        padding: 10%;

    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: xx-large;
        text-align: center;
        padding: 10%;
    }
    p{
        font-size: small;

    }
    .section3-4 h4{
        font-size: x-large;
    }
    .section3-4 p{
        font-size: small;
    }
    .section2{
        width: 60%;
    }
    .footer2 p{
        bottom: 0%;
        font-size: small;
    }
}
@media (max-width: 480px) {
    body {
        width: 480px;
      }
    header {
        display: flex;
        width: max-content;
        height: max-content;
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }
    button{
        align-items: center;

    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h1{
        text-align: center;
        font-size: 10px;
    }
    .section2plan{
        flex-direction: column;
    }
    .section2{
        width: 100%;
    }
    .section3-4{
        flex-direction: column;
    }
    .section3{
        width: 80%;
    }
    .section4{
        width: 80%;
    }
    footer{
        bottom: 0%;
    }
}