@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0%
}

header{
    /* background-color: aqua; */
    background-image: url(./hero-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    width: 100%;
    /* height: 510.781px; */
}
main{
    background-color: rgb(245, 245, 245);
}
/* .filtre{
    /* background-color: rgba(31, 30, 30, 0.678);
    width: 100%; */
 */
.filtre2{
    background-color: rgba(48, 46, 46, 0.63);
    width: 100%;
    height: 100%;
}
p{
    color:rgb(64, 64, 64)
}
nav {
    width: 1760px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 3px solid RED; */
    height: 80px;
    /* margin-left: 410px;
    margin-right: 130px; */
}

ul{
    /* border: 3px solid; */
    margin-left: 200px;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

li {
    display: inline-block;
    /* align-items: center; */
    /* justify-content: space-between; */

    list-style: none;
}
#logo{
    padding-top: 10px;
    width: 200px;
    height: 40px;
margin-left: 160px;
}
a{
    padding: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: white;
}


button {
    font-size: 16px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: white;
    border: rgb(251, 32, 86);
    border-radius: 90px;
    background-color: rgb(251, 32, 86);
    font-family: "Noto Sans", sans-serif;
    margin-right: 200px;
    margin-top: -10px;
    width: 190px;
    height: 50px;
    margin-right: 192px;
    cursor: pointer;
}



.trait{
    position: relative;
    background-color: rgb(251, 32, 86);
    width: 100px;
    /* margin-left: 300px; */
}
#section1{
    display: flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    color: white;
    /* border: 4px solid; */
    padding: 250px;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    margin-top: -100px;
}
h1{
    font-size: 70px;
}
h3{
    font-size: 15px;
}
#boutonlearnmore{
    /* border:3px solid; */
    margin-left: 200px;
    font-size: 16px;
}
#boutonlearnmore2{
    /* border:3px solid; */
    margin-top: 10px;
    margin-left: 170px;
    width: 200px;
    height: 60px;
    font-size: 16px;
}

.reglesitation{    
    /* background: #635656; */
    position: relative;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* border:4px solid; */
    height: 200px;
}
.sitation1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:4px solid; */
    height: 100px;
    font-family: "noto Sans", sans-serif;
    font-size: 18px;
}
.sitation2{
    text-align: center;
    height: 70px;
    font-size: 14px;
    
}
#Guillemet{
    position: absolute;
    /* border: 4px solid; */
    top: 50px;
    left: 330px;
    width: 100px;
    height: 100px;
}
.titreevenementsection{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}
.trait2{
    position: relative;
    border-bottom: 4px solid red;
    width: 120px;
    left: 830px;
}
.Randonneur{
    border: 3px solid;
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
    width: 100%;
    height: 700px;
}
.photorandonneur1{
    /* border: 1px solid rgb(17, 16, 16); */
    border-radius: 2%;
    background-image: url(./marcheur.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.9;
    filter:drop-shadow(10px 10px 1px #C0C0C0);
    width: 530px;
    height: 330px;
    margin-left: 90px;
}
.Randonneur1{
    /* border: 2px solid; */
    text-align: center;
    font-family: "noto Sans", sans-serif;
    font-size: 17px;
    width: 530px;
    height: 340px;
}
h4{
    font-family: "Montserrat Sans", sans-serif;
    font-size: 20px
}


.marcheuse{
    /* border: 1px solid white; */
    border-radius: 2%;
    background-image: url(./marcheuse.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    filter:drop-shadow(10px 10px 1px #C0C0C0);
    width: 530px;
    height: 330px;
}
.Randonneur2{
    text-align: center;
    font-family: "noto Sans", sans-serif;
    font-size: 17px;
    margin-right: 50px;

}
.boutonrandonneur{
    position: relative;
    top: 10px;
    left: 100px;
}


.photoarriereplan{
    background-image: url(section-bg-img.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.9; */
    height: 700px;
}

.textesurplan{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* border: 3px solid; */
    width: 700px;
    height: 600px;
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
    margin-left:800px;
    color: white;

}
h3{
    font-family: "Montserrat Sans",sans-serif;
    font-size: 45px;
    font-weight:bolder;
    margin-bottom: 100px;
}
.textesurplan p{
    line-height:1px;
    margin-bottom: 50px;
    color: white;
}
.boutonrandonneur4{
    margin-bottom: 200px;
}
.trait3{
    border-bottom: 4px solid red;
    width: 60px;
    margin-top: -80px;
    margin-bottom: 50px;
}
.destinationsection{
    /* border: 2px solid red; */
    width: auto;
    height: 800px;
    display: flex;
    justify-content:space-evenly;
    align-items:center
}
.textegauche{
    /* border: 2px solid red;    */
    width: 370px;
    height: 500px;
    margin-bottom: 250px;
    margin-left: 90px;
    font-family: "Noto Sans",sans-serif;
    font-size: 18px;
    line-height: 33px;
}
h4{
    font-size: 45px;
}
.trait4{
    border-bottom: 4px solid red;
    width: 60px;
    margin-top: -30px;
    margin-bottom: 40px;
}
.boutonrandonneur4{
    margin-top: 10px;
    margin-left: 30px;
        font-size: 16px;
    }
.photo{
    /* border: 2px solid red;    */
    width: 900px;
    height: 670px;
    position: relative;
    margin-right: 140px;
    /* flex-wrap: wrap; */
    /* gap: 5px; */

}
.photo1{
    position:absolute;
    border: 3px solid white;
    border-radius: 1.5%;
    width: 430px;
    height: 230px;
    margin-left: 13px;
    margin-top: 13px;
    background-image: url(./photo1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.photo2{
    position: absolute;
    right: 0px;
    top: 0px;
    border: 3px solid white;
    border-radius: 1.5%;
    width: 430px;
    height: 400px;
    margin-top: 13px;
    background-image: url(./photo3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}
.photo3{
    position: absolute;
    bottom: 0px;
    border: 3px solid white;
    border-radius: 1.5%;
    margin-left: 13px;
    width: 430px;
    height: 400px;
    background-image: url(./photo2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.photo4{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 3px solid white;
    border-radius: 1.5%;
    width: 430px;
    height: 220px;
    margin-bottom: 10px;
    background-image: url(./photo4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}
footer {
    display: grid;
    justify-content:center;
    align-items: center;
    background: rgb(37, 36, 36);
    width: 100%;
    height: 180px;
    color: white;
}
footer p{
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: "Noto Sans",sans-serif;
}