@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0%;
    font-family: "Montserrat Sans", sans-serif;
}

header {
    background-image: url(./background-projets.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.384);

}

h1 {
    position: absolute;
    top: 230px;
    font-size: 80px;
}

h2 {
    font-size: 45px;
    font-weight: bold;
}

h6 {
    position: relative;
    top: 50px;
    font-size: 20px;
    font-weight: bold;
}

main p {
    /* border: 2px solid; */
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    color: rgb(64, 64, 64);
    font-size: 20px;
}


nav {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
ul{
    margin-left: 300px;
    font-size: 20px;
    display: flex;
    gap: 20px;
}

li {
    display: inline-block;
    list-style: none;
}
#logo{
    background-image: url(./outdoor-adventure-exercice-main/blocs/logo.out.png);
    margin-top: 18px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
margin-left: 160px;
}
a{
    padding: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: white;
}
button {
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: white;
    border: rgb(251, 32, 86);
    border-radius: 90px;
    background-color: rgb(251, 32, 86);
    font-family: "Noto Sans", sans-serif;
    margin-right: 200px;
    margin-top: -10px;
    width: 220px;
    height: 60px;
    margin-right: 192px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(241, 7, 66);
}

.trait {
    position: relative;
    border-top: 3px solid red;
    width: 70px;
    margin-left: 120px;
}
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* border: 4px solid; */
    padding: 250px;
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
}
.section2 {
    /* border:3px solid; */
    position: relative;
}

.plansection2 {
    /* border:3px solid; */
    width: 1000px;
    position: relative;
    left: 250px;
}

.section3 {
    /* border:3px solid; */
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photo1 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 480px;
    height: 400px;
    background-image: url(./Projetsphoto1section3.jpg);
    background-size: 100%;
}

.photo2 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 480px;
    height: 400px;
    background-image: url(./Projetsphoto2section3.jpg);
    background-size: 100%;
}

.photo3 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 480px;
    height: 400px;
    background-image: url(./Projetsphoto3section3.jpg);
    background-size: 100%;
}

.section2 {
    /* border:3px solid; */
    position: relative;
}

.plansection3 {
    /* border:3px solid; */
    width: 1000px;
    position: relative;
    left: 250px;
}

.traitsnow {
    position: relative;
    border-top: 3px solid red;
    width: 70px;
    left: 200px;
}

.section5 {
    /* border: 3px solid; */
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photo4 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 480px;
    height: 400px;
    background-image: url(./Projetsphoto4section4.jpg);
    background-size: 100%;
}

.photo5 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 480px;
    height: 400px;
    background-image: url(./Projetsphoto5section4.jpg);
    background-size: 100%;
}

.photo6 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 480px;
    height: 400px;
    background-image: url(./Projetsphoto6section4.jpg);
    background-size: 100%;

}
.plansection4 {
    /* border:3px solid; */
    width: 1000px;
    position: relative;
    left: 250px;
}

.traitcamping {
    position: relative;
    border-top: 3px solid red;
    width: 70px;
    left: 140px;
}

.section7 {
    /* border: 3px solid; */
    width: 100%;
    height: 450px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photo7 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 480px;
    height: 400px;
    background-image: url(./Projetsphoto7section4.jpg);
    background-size: 100%;
}

.photo8 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 480px;
    height: 400px;
    background-image: url(./Projetsphoto8section4.jpg);
    background-size: 100%;
}

.photo9 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 480px;
    height: 400px;
    background-image: url(./Projetsphoto9section4.jpg);
    background-size: 100%;

}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(37, 36, 36);
    width: 100%;
    height: 240px;
    color: white;
}
footer p {
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
}