@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0%
}

header{
    /* background-color: aqua; */
    background-image: url(./hero-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtre{
    background-color: rgba(73, 69, 69, 0.63);
}

nav {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* border: 3px solid RED; */
    height: 100px;
    margin-left: 70px;
}

ul{
    /* border: 3px solid; */

    margin-left: 190px;
    font-size: 16px;
}

li {
    display: inline-block;
    /* align-items: center; */
    /* justify-content: space-between; */

    list-style: none;
}
#logo{
    padding-top: 16px;
}
a{
    padding: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: white;
}


button {
    font-size: 14px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: white;
    border: rgb(251, 32, 86);
    border-radius: 90px;
    background-color: rgb(251, 32, 86);
    font-family: "Noto Sans", sans-serif;
    margin-right: 200px;
    width: 170px;
    height: 50px;
    right: 20px;
    cursor: pointer;

}



.trait{
    position: relative;
    border-top: 2px solid red;
    width: 200px;
    /* margin-left: 300px; */
}
#section1{
    display: flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    color: white;
    /* border: 4px solid; */
    padding: 250px;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
}

#boutonlearnmore{
    /* border:3px solid; */
    margin-left: 200px;
}

.reglesitation{    
    /* background: #635656; */
    position: relative;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* border:4px solid; */
    height: 200px;
}
.sitation1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:4px solid; */
    height: 100px;
    font-family: "noto Sans", sans-serif;
    font-size: 18px;
}
.sitation2{
    text-align: center;
    height: 70px;
    font-size: 14px;
    
}
#Guillemet{
    position: absolute;
    /* border: 4px solid; */
    top: 50px;
    left: 330px;
    width: 100px;
    height: 100px;
}
.titreevenementsection{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 33px;
}
.trait2{
    position: relative;
    border-bottom: 2px solid red;
    width: 120px;
    left: 740px;
}
.Randonneur{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    height: 700px;
}
h4{
    font-family: "Montserrat Sans", sans-serif;
    font-size: 16px
}
.marcheur{
    width: 517px;
    height: 322px;
}
.ombre{
    /* position: absolute; */
    border: 3px solid white;
    border-radius: 1.5%;
    background-color: rgb(148, 145, 145);
    width: 517px;
    height: 322px;
}
.Randonneur1{
    text-align: center;
    font-family: "noto Sans", sans-serif;
    font-size: 14px;
}
.marcheuse{
    width: 517px;
    height: 322px;
}
.Randonneur2{
    text-align: center;
    font-family: "noto Sans", sans-serif;
    font-size: 14px;
}
.boutonrandonneur{
    position: relative;
    top: 10px;
    left: 100px;
}


.photoarriereplan{
    background-image: url(section-bg-img.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.9;
    height: 588px;
    color: white;
}

.textesurplan{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:last baseline;
    /* border: 3px solid; */
    width: 1300px;
    height: 600px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}
h3{
    font-family: "Montserrat Sans",sans-serif;
    font-size: 32px;
    font-weight:bolder;
}

.trait3{
    border-bottom: 2px solid red;
    width: 60px;
}
.destinationsection{
    /* border: 2px solid red; */
    width: auto;
    height: 800px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.textegauche{
    /* border: 2px solid red;    */
    width: 300px;
    height: 500px;
    /* margin-top: 90px; */
    font-family: "Noto Sans",sans-serif;
}
.photo{
    /* border: 2px solid red;    */
    width: 900px;
    height: 670px;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;

}
.photo1{
    position:absolute;
    border: 3px solid white;
    border-radius: 1.5%;
    width: 430px;
    height: 230px;
    background-image: url(./photo1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.photo2{
    position: absolute;
    right: 0px;
    top: 0px;
    border: 3px solid white;
    border-radius: 1.5%;
    width: 430px;
    height: 400px;
    background-image: url(./photo3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}
.photo3{
    position: absolute;
    bottom: 0px;
    border: 3px solid white;
    border-radius: 1.5%;

    width: 430px;
    height: 400px;
    background-image: url(./photo2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.photo4{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 3px solid white;
    border-radius: 1.5%;
    width: 430px;
    height: 220px;
    background-image: url(./photo4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}
footer {
    display: grid;
    justify-content:center;
    align-items: center;
    background: rgb(37, 36, 36);
    width: 100%;
    height: 180px;
    color: white;
}
.footer2{
    text-align: center;
}