@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0%;
    font-family: "Montserrat Sans", sans-serif;
}

header {
    /* background-color: aqua; */
    background-image: url(./background-projets.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* height: 100px; */
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    position: absolute;
    top: 230px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h6 {
    position: relative;
    top: 50px;
    font-size: 18px;
    font-weight: bold;
}

main p {
    font-family: "Noto Sans", sans-serif;
    color: rgb(64, 64, 64);
    font-size: 16px;
}

.filtre {
    background-color: rgba(39, 36, 36, 0.253);
    width: 100%;
}

nav {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* border: 3px solid RED; */
    height: 100px;
    margin-left: 70px;
}

ul {
    /* border: 3px solid; */

    margin-left: 190px;
    font-size: 16px;
}

li {
    display: inline-block;
    /* align-items: center; */
    /* justify-content: space-between; */

    list-style: none;
}

#logo {
    padding-top: 16px;
}

a {
    padding: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: white;
}


button {
    font-size: 14px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: white;
    border: rgb(251, 32, 86);
    border-radius: 90px;
    background-color: rgb(251, 32, 86);
    font-family: "Noto Sans", sans-serif;
    margin-right: 200px;
    width: 170px;
    height: 50px;
    right: 20px;
    cursor: pointer;

}

.trait {
    position: relative;
    border-top: 3px solid red;
    width: 70px;
    margin-left: 100px;
}

.section1 {
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    /* justify-content; */
    align-items: center;
    color: white;
    /* border: 4px solid; */
    padding: 250px;
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    /* height: 200px; */
}

.section2 {
    /* border:3px solid; */
    position: relative;
}

.plansection2 {
    /* border:3px solid; */
    width: 700px;
    position: relative;
    left: 250px;
}

.section3 {
    /* border:3px solid; */
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photo1 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 400px;
    height: 400px;
    background-image: url(./Projetsphoto1section3.jpg);
    background-size: 100%;
}

.photo2 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 400px;
    height: 400px;
    background-image: url(./Projetsphoto2section3.jpg);
    background-size: 100%;
}

.photo3 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 400px;
    height: 400px;
    background-image: url(./Projetsphoto3section3.jpg);
    background-size: 100%;
}

.section2 {
    /* border:3px solid; */
    position: relative;
}

.plansection3 {
    /* border:3px solid; */
    width: 700px;
    position: relative;
    left: 250px;
}

.traitsnow {
    position: relative;
    border-top: 3px solid red;
    width: 70px;
    left: 150px;
}

.section5 {
    /* border: 3px solid; */
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photo4 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 400px;
    height: 400px;
    background-image: url(./Projetsphoto4section4.jpg);
    background-size: 100%;
}

.photo5 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 400px;
    height: 400px;
    background-image: url(./Projetsphoto5section4.jpg);
    background-size: 100%;
}

.photo6 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 400px;
    height: 400px;
    background-image: url(./Projetsphoto6section4.jpg);
    background-size: 100%;

}
.plansection4 {
    /* border:3px solid; */
    width: 700px;
    position: relative;
    left: 250px;
}

.traitcamping {
    position: relative;
    border-top: 3px solid red;
    width: 70px;
    left: 120px;
}

.section7 {
    /* border: 3px solid; */
    width: 100%;
    height: 450px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photo7 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 400px;
    height: 400px;
    background-image: url(./Projetsphoto7section4.jpg);
    background-size: 100%;
}

.photo8 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 400px;
    height: 400px;
    background-image: url(./Projetsphoto8section4.jpg);
    background-size: 100%;
}

.photo9 {
    border: 3px solid white;
    border-radius: 1.5%;
    width: 400px;
    height: 400px;
    background-image: url(./Projetsphoto9section4.jpg);
    background-size: 100%;

}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(37, 36, 36);
    width: 100%;
    height: 180px;
    color: white;
}

.footer2 {
    text-align: center;
}