@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    margin: 0%
}

header{
    background-image: url(./fond-page3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    width: 100%;
    height:max-content;
}
main{
    background-color: rgb(245, 245, 245);
    font-family: "Montserrat Sans", sans-serif;
}
p{
    color:rgb(64, 64, 64)
}
nav {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    font-size: 20px;
    display: flex;
    gap: 20px;
}

li {
    display: inline-block;
    list-style: none;
}
#logo {
    background-size: 100%;
    background-repeat: no-repeat;
}
#logonoir{
    display: none;
}
a{
    padding: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: white;
}
button {
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: white;
    border: rgb(251, 32, 86);
    border-radius: 90px;
    background-color: rgb(251, 32, 86);
    font-family: "Noto Sans", sans-serif;
    width: 220px;
    height: 60px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(241, 7, 66);
}

.trait{
    position: relative;
    border-top: 4px solid rgb(251, 32, 86);
    width: 120px;
     /* margin-left: 800px;  */
}
.trait2 {
    position: relative;
    top:40px;
    border-top: 4px solid rgb(251, 32, 86);
    width: 10px;
}
.trait3{
    position: relative;
    border-top: 4px solid rgb(251, 32, 86);
    width: 80px;
     /* margin-left: 800px;  */
}
#section1{
    display: flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 55px;
    font-weight:bolder;
    padding:10%;

}
.section2{
    /* border: 3px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

h2{
    /* border: 3px solid; */
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
h5{
    font-size: 25px;
    text-align: center;
}

main p{
    /* border: 3px solid;*/
    width: 40%;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    color: rgb(64, 64, 64);
    text-align: center;
}
.section3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gauche{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gauche p{
    width: 100%;
}
.droite{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.droite p{
    width: 100%;
}
h4{
    font-family: "Montserrat Sans", sans-serif;
    font-size: 16px
}
.gauche img{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5%;
    filter: drop-shadow(10px 10px 1px #C0C0C0);
}
.droite img{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5%;
    filter: drop-shadow(10px 10px 1px #C0C0C0);

}
.section4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section4 p{
    width: 100%;
}

.gauche2{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.droite2{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.gauche2 img{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5%;
    filter: drop-shadow(10px 10px 1px #C0C0C0);
}
.droite2 img{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5%;
    filter: drop-shadow(10px 10px 1px #C0C0C0);
}

h3{
    font-size: 30px;
}
.section5 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gauche3{

    width: 40%;
    display: flex;
    flex-direction: column;
}
.gauche3 p{
    width: 100%;
    text-align: start;
}
.droite3{
    width: 40%;
}
.droite3 p{
    width: 100%;
    text-align: start;
}
.ligne{
    display: flex;
    text-align: left;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 36, 36);
    width: 100%;
    height: 60%;
    color: white;
}

footer {
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
}
.footer2 p{
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
}
@media (max-width:1024px) {
    body {
        width: 1024px;
      }
    header {
        display: flex;
        width: max-content;
    }
    #section1{
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        /* max-height: 100%; */
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h1{
        text-align: center;
    }
    ul {
        width: 100%;
    }
    .h1{
        text-align: center;
    }

    footer{
        bottom: 0%;
    }
}
@media (max-width:768px) {
    body {
        width: 768px;
      }
      header {
        display: flex;
        width: max-content;
        height: 20%;
        width: 100%;
    }
    #logo{
        display: none;
    }
    #logonoir{
        display: block;
        width: 40%;
    }
    nav {
        background: white;
        display: flex;
        justify-content: center;
    }
    ul{
        flex-direction: column;
        gap: 3px;
        max-width: 100%;
        font-size: 15px;
        position: absolute;
        top: 80px;
        display: none ;
    }
    a{
        color: black;
    }
    h1{
        font-size: xx-large;
        text-align: center;
        padding: 10%;
    }
    .section1{
        padding: 10%;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section2 p, .section3 p, .section4 p, .section5 p{
        font-size: small;
    }
    h2 ,h3 ,h5 {
        font-size: medium;
    }
    .section2{
        width: 90%;
    }
    .gauche, .droite, .gauche2, .droite2{
        width: 40%;
    }
    .h1{
        text-align: center;
    }
    .footer2 p{
        bottom: 0%;
        font-size: small;
    }
}
@media (max-width:480px) {
    body {
        width: 480px;
      }
    header {
        display: flex;
        width: max-content;
        height: max-content;
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    ul{
        flex-direction: column;
        align-items: center;
    }
    button{
        align-items: center;

    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h1{
        text-align: center;
        font-size: 10px;
    }
    .section3{
        flex-direction: column;
    }
    .gauche, .droite, .gauche2, .droite2, .gauche3, .droite3{
        width: 80%;
    }
    .section4{
        flex-direction: column;
    }
    .section5{
        flex-direction: column;
    }
    footer{
        bottom: 0%;
        flex-direction: column;
    }
}