@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0%
}

header{
    background-image: url(./fond-page3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.39);
    opacity: 0.9;
    width: 100%;
    height: 700px;
}
main{
    background-color: rgb(245, 245, 245);
    font-family: "Montserrat Sans", sans-serif;
}
p{
    color:rgb(64, 64, 64)
}
nav {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
ul{
    margin-left: 300px;
    font-size: 20px;
    display: flex;
    gap: 20px;
}

li {
    display: inline-block;
    list-style: none;
}
#logo{
    background-image: url(./outdoor-adventure-exercice-main/blocs/logo.out.png);
    margin-top: 18px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
margin-left: 160px;
}
a{
    padding: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: white;
}
button {
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: white;
    border: rgb(251, 32, 86);
    border-radius: 90px;
    background-color: rgb(251, 32, 86);
    font-family: "Noto Sans", sans-serif;
    margin-right: 200px;
    margin-top: -10px;
    width: 220px;
    height: 60px;
    margin-right: 192px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(241, 7, 66);
}

.trait{
    position: relative;
    border-top: 4px solid rgb(251, 32, 86);
    width: 120px;
     /* margin-left: 800px;  */
}
.trait2 {
    position: relative;
    top:40px;
    border-top: 4px solid rgb(251, 32, 86);
    width: 10px;
}
.trait3{
    position: relative;
    border-top: 4px solid rgb(251, 32, 86);
    width: 80px;
     /* margin-left: 800px;  */
}
#section1{
    display: flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    color: white;
    /* border: 4px solid; */
    padding-top: 100px;
    padding-bottom: 200px;
    font-family: "Montserrat", sans-serif;
    font-size: 55px;
    font-weight:bolder;
}
.section2{
    /* border: 3px solid; */
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

h2{
    /* border: 3px solid; */
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
h5{
    font-size: 25px;
    text-align: center;
}
main{
    width: 100%;
}
main p{
    /* border: 3px solid; */
    width: 950px;
    height: 60px;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    color: rgb(64, 64, 64);
    text-align: center;
}
.section3{
    /* border: 3px solid; */
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section3 p{
    width: 600px;
}

.gauche{
    /* border: 3px solid; */
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.droite{
    /* border: 3px solid; */
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4{
    font-family: "Montserrat Sans", sans-serif;
    font-size: 16px
}
.photo1{
    background-image: url(./Servicesphoto1.jpg);
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid white; */
    border-radius: 1.5%;
    filter: drop-shadow(10px 10px 1px #C0C0C0);


}
.photo2{
    background-image: url(./servicesphoto2.jpg);
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid white; */
    border-radius: 1.5%;
    filter: drop-shadow(10px 10px 1px #C0C0C0);


}
.section4{
    /* border: 3px solid; */
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section4 p{
    width: 600px;
}

.gauche2{
    /* border: 3px solid; */
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.droite2{
    /* border: 3px solid; */
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo3{
    background-image: url(./servicesphoto3.jpg);
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid white; */
    border-radius: 1.5%;
    filter: drop-shadow(10px 10px 1px #C0C0C0);


}
.photo4{
    background-image: url(./Servicesphoto4.jpg);
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid white; */
    border-radius: 1.5%;
    filter: drop-shadow(10px 10px 1px #C0C0C0);


}
.ombre{
    /* position: absolute; */
    border: 3px solid white;
    border-radius: 1.5%;
    background-color: rgb(148, 145, 145);
    width: 517px;
    height: 322px;
}
h3{
    font-size: 30px;
}
.section5 {
    /* border: 3px solid; */
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gauche3{
    /* border: 3px solid; */
    height: 500px;
    width: 40%;
    display: flex;
    /* justify-content:center; */
    flex-direction: column;
}
.gauche3 p{
    /* border: 3px solid; */
    width: 100%;
    text-align: start;
}
.droite3{
    /* border: 3px solid; */
    height: 500px;
    width: 40%;
}
.droite3 p{
    /* border: 3px solid; */
    width: 100%;
    text-align: start;
}
.ligne{
    display: flex;
    text-align: left;
    /* color: black; */
    /* border: 3px solid; */
    width: 400px;
    height: 50px;
    position: relative;
    left: 20px;
}
footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(37, 36, 36);
    width: 100%;
    height: 240px;
    color: white;
}
footer p {
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
}